<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="header_container">
         <header class="header">
        <h1>ANDREW JOSEPH</h1>
        <h2>Albums that I've listened to lately</h2>
        <p>An ongoing list of albums that I have listened to lately.  I will be updating this website when I listen to an
             album from start to finish. I have much less time these days to listen to albums but with this website I am going to endeavour to listen to much more. 
            This will include listening to old favourites of mine.</p>
        <form action="/search" class="search__form" role="search" method="POST">
            <input 
            type="search" 
            aria-label="search" 
            id="searchInput" 
            name="searchTerm" 
            placeholder="Search Reviews"
            autocomplete="on">
        </form>
    </header>
    </div>
   
</body>
</html>